/*LOADER*/
.loader-body {
	width: 100vw;
	height: 100vh;
	/* background-color: rgba(0, 0, 0, 0.75); */
	background-color: white;
	/* opacity: 0.75; */
	position: fixed;
	z-index: 2;
	visibility: visible;
	top: 0;
	left: 0;
	/* text-align: center; */
	display: flex;
	justify-content: center;
	align-content: center;
	transition: 0.5s all;
}
.loader {
	width: 200px;
	height: 00px;
	border: 12px white solid; 				/*Here you can change color of the loader*/
	border-radius: 50%;
	position: absolute;
	border-top-color: red ; 				/*Here you can change color of the loader*/
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	-webkit-animation: 1s spin infinite linear;
	-o-animation: 1s spin infinite linear;
	animation: 1s spin infinite linear;

}
/* .loader-body.done {
	visibility: hidden;
	opacity: 0;
}
@keyframes spin {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
} */




#preloader_cont {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.75); /*Here you can change background color of the loader */
	/* opacity: 0.75; */
	position: fixed;
	z-index: 9999;
	visibility: visible;
	top: 0;
	left: 0;
	/* text-align: center; */
	display: flex;
	justify-content: center;
	align-content: center;
	transition: 0.75s all;
}

#preloader {
	/* width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.75); */

	/* opacity: 0.75; */

	/* position: fixed;
	z-index: 9999; */
	visibility: visible;
	/* top: 0;
	left: 0; */
	/* text-align: center; */
	display: flex;
	justify-content: center;
	align-content: center;
	transition: 0.75s all;
}
#preloader::after {
	content: '';
	width: 200px;
	height: 200px;
	border: 12px white solid; 				/*Here you can change color of the loader*/
	border-radius: 50%;
	position: absolute;
	border-top-color: red ; 				/*Here you can change color of the loader*/
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	-webkit-animation: 1s spin infinite ease-in-out;
	-o-animation: 1s spin infinite ease-in-out;
	animation: 1s spin infinite ease-in-out;

}
.preloader-hidden {
	visibility: hidden;
	opacity: 0;
}
@keyframes spin {
	from {
		transform: translate(-50%, -50%) rotate(0);
	}
	to {
		transform: translate(-50%, -50%) rotate(1turn);
	}
}
/***************************************************
 * Generated by SVG Artista on 2/13/2023, 9:05:00 AM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

 @-webkit-keyframes animate-svg-fill-1 {
	0% {
	  fill: transparent;
	}
  
	100% {
	  fill: rgb(0, 0, 0);
	}
  }
  
  @keyframes animate-svg-fill-1 {
	0% {
	  fill: transparent;
	}
  
	100% {
	  fill: rgb(0, 0, 0);
	}
  }
  
  .tdd-svg-1 {
	-webkit-animation: animate-svg-fill-1 0.7s cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.8s both;
			animation: animate-svg-fill-1 0.7s cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.8s both;
  }
  

  #logo {
	background: red !important;
	
  }